@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper,
    IList<Sharp_blog.Core.Objects.Tag> tags)
{
    foreach (var tag in tags)
    {
        <div class="tags-div">
            @Sharp_blog.ActionLinkExtensions.TagLink(htmlHelper, tag)
        </div>
    }
}